//Font

$font1: 'Chakra Petch';


//Colors

$backgroundDay: #E6E6E6;
$backgroundDark: #B4B4B4;
$bodyDay: #fff4fd;
$bodyDark: #110038;
$border: #808080;

$colour-1: #FFFFFF;
$colour-2: #F0F0F0;
$colour-3: #F7C9F3;
$colour-4: #EE3EFE;
$colour-5: #CCCCCC;
$colour-6: #8F8F8F;
$colour-7: #979797;
$colour-8: #110038;
$colour-9: #2E32FB;